
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Gerenciador Financeiro</h4>
Projeto Final de Curso WebDeveloper - Utilizando linguagem C# ASP.Net e as seguintes tecnologias:

<ul>
    <li>
        Arquitetura MVC   
    </li>
    <li>
        Dapper, Entityframework
    </li>
    <li>
        Bootstrap, AngularJs
    </li>
    <li>
      Sql Server
    </li>


</ul>

